In [1]:
import pandas as pd

In [2]:
co_df = pd.read_csv("input/co_compiled.csv", low_memory=False)
so2_df = pd.read_csv("input/so2_compiled.csv", low_memory=False)
no2_df = pd.read_csv("input/no2_compiled.csv", low_memory=False)
ozone_df = pd.read_csv("input/ozone_compiled.csv", low_memory=False)

In [19]:
summarized_merged_df = no2_df[["Latitude", "Longitude", "Parameter Name", "Date Local", "Units of Measure",
                                  "State Name", "Arithmetic Mean"]]
summarized_merged_df

,Latitude,Longitude,Parameter Name,Date Local,Units of Measure,State Name,Arithmetic Mean
0,34.687761,-86.586362,Nitrogen dioxide (NO2),1980-01-01,Parts per billion,Alabama,22.916667
1,34.687761,-86.586362,Nitrogen dioxide (NO2),1980-01-02,Parts per billion,Alabama,34.636364
2,34.687761,-86.586362,Nitrogen dioxide (NO2),1980-01-03,Parts per billion,Alabama,35.000000
3,34.687761,-86.586362,Nitrogen dioxide (NO2),1980-01-04,Parts per billion,Alabama,14.333333
4,34.687761,-86.586362,Nitrogen dioxide (NO2),1980-01-05,Parts per billion,Alabama,13.916667
...,...,...,...,...,...,...,...
5080424,18.422595,-66.120012,Nitrogen dioxide (NO2),2019-06-26,Parts per billion,Puerto Rico,12.115000
5080425,18.422595,-66.120012,Nitrogen dioxide (NO2),2019-06-27,Parts per billion,Puerto Rico,13.708333
5080426,18.422595,-66.120012,Nitrogen dioxide (NO2),2019-06-28,Parts per billion,Puerto Rico,13.537500
5080427,18.422595,-66.120012,Nitrogen dioxide (NO2),2019-06-29,Parts per billion,Puerto Rico,13.841667
5080428,18.422595,-66.120012,Nitrogen dioxide (NO2),2019-06-30,Parts per billion,Puerto Rico,13.550000

In [12]:
summarized_merged_df["Date Local"] = pd.to_datetime(summarized_merged_df["Date Local"])
summarized_merged_df["Year"] = summarized_merged_df["Date Local"].values.astype("datetime64[Y]")
summarized_merged_df["Year"] = pd.DatetimeIndex(summarized_merged_df['Date Local']).year
#summarized_merged_df

C:\Users\AU0006AU\AppData\Local\Continuum\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\AU0006AU\AppData\Local\Continuum\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\AU0006AU\AppData\Local\Continuum\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
merged_average = summarized_merged_df.groupby(["Year", "State Name"])["Arithmetic Mean"].mean()
merged_average

Year  State Name
1980  Alabama          0.026585
      Alaska           0.023780
      Arizona          0.029548
      Arkansas         0.032491
      California       0.029755
                         ...
2019  Virginia         0.035621
      Washington       0.029181
      West Virginia    0.031881
      Wisconsin        0.034317
      Wyoming          0.041431
Name: Arithmetic Mean, Length: 2083, dtype: float64

In [14]:
merged_average.to_csv("output/ozone_averaged.csv")

C:\Users\AU0006AU\AppData\Local\Continuum\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.